<div class="container p-4">
    <div class="row">

    {{#each links}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    {{!-- redireccionar al url a heref para que se abra en otra pestaña--}}
                    <a href="{{url}}" target="_blank">
                        <h3 class="card-title text-uppercase">
                            {{title}}
                        </h3>
                    </a>
                    <p class="m-2">{{description}}</p>
                    {{!-- para traer el la hora de creaccion hace cuanto fue creado --}}
                    <p>{{timeago created_at}}</p>
                    <a href="/links/delete/{{id}}" class="btn btn-danger">Delete Link</a>
                    <a href="/links/edit/{{id}}" class="btn btn-secondary">Edit</a>
                </div>

            </div>
        </div>
        {{!-- CUANDO NO HAY NINGUN ELACE CREADO  --}}
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not links Saved yet.</p>
                <a href="/links/add">Create One!</a>
            </div>
        </div>
    {{/each}}

    </div>
</div>